/* * {
  border: solid 0.5px red;
} */
@media screen and (min-width: 992px) {
  .maximum-width {
    width: auto;
    height: 100%;
  }
  .cam-width {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  .mar {
    padding-left: 55px;
  }
  .btnz-index {
    position: absolute;
    z-index: 7;
  }
  .navbar {
    font-size: 10px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .maximum-width {
    width: auto;
  }
  .cam-width img {
    width: 100%;
  }
  .cam-width {
    width: 50%;
    padding: 16px;
  }
  .left-btn,
  .right-btn {
    display: none;
  }
}

@media all and (max-width: 576px) {
  .maximum-width {
    width: auto;
  }
  .cam-width,
  .mar {
    display: flex;
    justify-content: center;
  }
  .cam-width {
    height: 50%;
    padding: 16px 0;
  }
  .heightFix,
  .heightFix2 {
    height: 100%;
  }

  footer {
    text-align: center;
  }
  .left-btn,
  .right-btn {
    display: none;
  }
  .maximum-width h3 {
    text-align: center;
  }
  .carouselWrapper figcaption {
    text-align: center;
  }
}

@media screen and (min-width: 1140px) {
  .cam-width img {
    width: 100%;
  }
  .cam-width {
    padding: 0 20px;
  }
  .btnz-index {
    position: absolute;
    z-index: 7;
  }
  .navbar {
    font-size: 14px;
  }
}
